<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Nuevo Ingreso</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="ingresosForm" (ngSubmit)="guardarIngreso()" class="form">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" class="form-control" id="cantidad" formControlName="cantidad" />
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" class="form-control" id="descripcion" formControlName="descripcion" />
                        </div>

                        <div class="form-group">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" formControlName="fecha" />
                        </div>

                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select class="form-control" id="categoria" formControlName="categoria">
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                                    {{ categoria.nombre }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Guardar Ingreso</button>
                            <a routerLink="/ingresos" class="btn btn-secondary">Cancelar</a>
                        </div>

                        <span class="form-text text-danger"
                            *ngIf="!ingresosForm.valid && ingresosForm.touched && !ingresosForm.pristine">
                            Asegúrate de completar todos los campos.
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>