<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Categorías de Gastos
                </div>
                <div class="card-body">
                    <div *ngFor="let categoria of gastosCategorias" class="d-flex align-items-center mb-3">
                        <img [src]="categoria.imagen" alt="Imagen de la categoría" class="rounded-circle mr-2"
                            width="40" height="40">
                        {{ categoria.nombre }}
                        <div class="ml-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editarCategoria(categoria.id)">Editar</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="eliminarCategoria(categoria.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" (click)="nuevaCategoriaGasto()">Agregar a Gasto</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Categorías de Ingresos
                </div>
                <div class="card-body">
                    <div *ngFor="let categoria of ingresosCategorias" class="d-flex align-items-center mb-3">
                        <img [src]="categoria.imagen" alt="Imagen de la categoría" class="rounded-circle mr-2"
                            width="40" height="40">
                        {{ categoria.nombre }}
                        <div class="ml-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editarCategoria(categoria.id)">Editar</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="eliminarCategoria(categoria.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" (click)="nuevaCategoriaIngreso()">Agregar a Ingreso</button>
                </div>
            </div>
        </div>
    </div>
</div>