<div class="container">
    <h2>Registro</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.name" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.password" id="password" name="password"
                required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registrarse</button>
    </form>
</div>

{{ usuario | json }}