<div id="template-bg-1" class="fondo">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card p-4 text-light bg-dark mb-5">
            <div class="card-header">
                <h3> Registrarse</h3>
            </div>
            <div class="card-body w-100">
                <span class="text-danger" *ngIf="this.error"> {{ this.errorMessage }}</span>
                <form name="login" action="" method="post" [formGroup]="this.myForm">
                    <div class="input-group form-group mt-4">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-user mt-3"></i></span>
                        </div>
                        <input type="email" name="nombre" class="form-control form-control-lg"
                            placeholder="Ingrese su nombre" required="required" formControlName="nombre" />
                    </div>
                    <div class="input-group form-group mt-4">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-user mt-3"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control form-control-lg"
                            placeholder="Ingrese su email" required="required" formControlName="email" />
                    </div>
                    <div class="input-group form-group mt-4">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-key mt-3"></i></span>
                        </div>
                        <input type="password" name="contrasena" class="form-control form-control-lg"
                            placeholder="Ingrese su contraseña" required="required" formControlName="contrasena" />
                    </div>

                    <div class="input-group form-group mt-4">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-key mt-3"></i></span>
                        </div>
                        <input type="password" name="confirmPassword" class="form-control form-control-lg"
                            placeholder="Repita su contraseña" required="required" formControlName="contrasena2" />
                    </div>

                    <span class="text-danger m-0 p-0" *ngIf="this.diffPass"> Las contraseñas no coinciden </span>

                    <div class="form-group mt-3">
                        <input type="submit" value="Crear cuenta" (click)="this.onSubmit()"
                            class="btn bg-danger float-end text-white w-100" name="login-btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <p class="small fw-bold mt-2 mt-1 mb-0"> ¿Ya tienes cuenta? <a href="/auth/login"
                            class="link-danger">Iniciar sesión</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>